/* 
    Document   : index
    Created on : 2013-12-20, 15:50:58
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/
#main{
    width: 500px;
    height: 300px;
    margin:120px auto;
}

